<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fypipc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYPipc">
        <activity
            android:name=".chatClasspackeg.chatMainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".todolist.todolistActivity"
            android:exported="true"></activity>
        <activity
            android:name=".newMeeting.newmettingActivity"
            android:exported="true" />
        <activity
            android:name=".emplodataActivity.EmployActivity"
            android:exported="true" />
        <activity
            android:name=".addnewproject.addnewProject"
            android:exported="true" />
        <activity
            android:name=".Dahsboard.dashboard"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.FYPipc.NoActionBar">

        </activity>
        <activity
            android:name=".LoginandRegistered.loginActivity"
            android:exported="true" />
        <activity
            android:name=".LoginandRegistered.Registered"
            android:exported="true"></activity>
        <activity
            android:name=".datepickerclass.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>